<template name="signin">
    <div class="signInBox">
        
        <form class="signIn">
            <table>
                <th><h2>Sign In</h2></th>
                <hr>
                <tr>
                    <td>Tên Đăng Nhập:</td>
                    <td><input type="text" name="username"></td>
                </tr><br>
                <tr>
                    <td>Mật Khẩu:</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <input type="submit" value="Đăng Nhập" id="submit">
        </form>
    </div>
</template>