<template name="chatbox">
    <div class="messageBox">
        <div class="displayMsg" id="displayMsg" >
            {{#each messages}}
                {{#if myMsg}}
                    <div class="myMsg">
                        <div class="message">
                            <span>{{message}}</span>
                        </div>
                    </div>  
                {{/if}}
                {{#if botMsg}}
                    <div class="botMsg">
                        <span>{{message}}</span> 
                    </div>
                {{/if}}
            {{/each}}
        </div>
        {{#if newMsg}}
            <div class="newMessage">
                <a href="">New Message</a>
            </div>
        {{/if}}
        
        <form class="inputMsg">
            <input type="text" name="message" id="msg">
            <input type="submit" value="Send" id="chatSubmit">
        </form>
        
    </div>
    
</template>